@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--color-white);
  --color-foreground: var(--foreground);
  --font-sans: : var(--font-helvetica-neue);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-helvetica-neue);
  font-weight: 400;
}

button,
a {
  cursor: pointer;
}

img,
a {
  display: block;
}

@theme {
  --color-white: #f8fafc;
  --color-main: #2d9ec7;
  --color-gray: #f1f1f1;
  --color-secondary: #7d7d7d;
}
